<h1>Listing people</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Title</th>
    <th>Email</th>
    <th>Street 1</th>
    <th>Street 2</th>
    <th>City</th>
    <th>State</th>
    <th>Postal code</th>
    <th>Country</th>
    <th>Candidate</th>
    <th>Alumni</th>
    <th>Supervisor</th>
    <th>Faculty</th>
    <th>Founding faculty</th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%=h person.first_name %></td>
    <td><%=h person.last_name %></td>
    <td><%=h person.title %></td>
    <td><%=h person.email %></td>
    <td><%=h person.street_1 %></td>
    <td><%=h person.street_2 %></td>
    <td><%=h person.city %></td>
    <td><%=h person.state %></td>
    <td><%=h person.postal_code %></td>
    <td><%=h person.country %></td>
    <td><%=h person.candidate %></td>
    <td><%=h person.alumni %></td>
    <td><%=h person.supervisor %></td>
    <td><%=h person.faculty %></td>
    <td><%=h person.founding_faculty %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New person', new_person_path %>