<h1>New person</h1>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :street_1 %><br />
    <%= f.text_field :street_1 %>
  </p>
  <p>
    <%= f.label :street_2 %><br />
    <%= f.text_field :street_2 %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.label :candidate %><br />
    <%= f.check_box :candidate %>
  </p>
  <p>
    <%= f.label :alumni %><br />
    <%= f.check_box :alumni %>
  </p>
  <p>
    <%= f.label :supervisor %><br />
    <%= f.check_box :supervisor %>
  </p>
  <p>
    <%= f.label :faculty %><br />
    <%= f.check_box :faculty %>
  </p>
  <p>
    <%= f.label :founding_faculty %><br />
    <%= f.check_box :founding_faculty %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', people_path %>